section.trabalheconosco{
  background: #1b6eb4 url('../images/recruta.png') no-repeat right center;
  background-position: 90%;
  background-size: 35% auto;
  overflow: hidden;
  padding: 80px 0;
}
h1.titulo{
  color: #1b6eb4;
  font-size: 38px;
  font-weight: 800;
  text-align: center;
  padding-bottom: 16px;
  /* text-shadow: 2px 2px 0px #13a855, 3px 3px 0px #1b6eb4; */
}
input#resumo {
  height: 90px;
}
textarea{
  width: 100%;
  color: #1b6eb4;
  font-size: .9em;
  display: block;
  padding: 8px 10px;
  background-color: transparent;
  border-radius: 20px;
  border:2px solid #1b6eb4;
  outline: none;
}
input{
  width: 100%;
  color: #1b6eb4;
  font-size: .9em;
  display: block;
  padding: 8px 10px;
  background-color: transparent;
  border-radius: 20px;
  border:2px solid #1b6eb4;
  outline: none;
}

input.file{ display: none }
label{
  color: #1b6eb4 !important;
  width: 100%;
  display: block;
  font-size: 14px;
  font-weight: 600 !important;
  text-align: left !important;
  padding: 9px 12px;
}
label.curriculo{
  text-align: center;
  color: #fff;
  display: block;
  margin-top: 20px;
  background-color: #185f41;
  border-radius: 5px;
  cursor: pointer;
  padding: 4px 10px;
}
button {
  background-color: #fff;
}
input::placeholder{
  color: #fff;
}
.enviar{
    color: #fff;
    line-height: 1;
    font-size: 16px;
    margin-top: 26px;
    font-weight: 800;
    border-radius: 26px;
    letter-spacing: 2px;
    display: inline-block;
    padding: 16px 50px 16px;
    background-color: #ff5a00;
    border: none;
}
.box{
  margin-top: 20px;
  display: block;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 40px 20px 40px;
  border-image: url('../images/border.png') 20% round;
  border-top: 5px solid transparent;
  border-radius: 20px;
}
@media (max-width: 767px) {
  section.trabalheconosco{
    background-size: 90%;
  }
}
